<article>
  <div class="title">
    <h2>Aqui estão seus times</h2>

    <button mat-mini-fab (click)="copyToClipboard()" title="Copiar times">
      @if(copied) {
      <mat-icon>check</mat-icon>
      } @else {
      <mat-icon>content_copy</mat-icon>
      }
    </button>
  </div>

  <form class="teams">
    <div>
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput name="firstTeam" [(ngModel)]="firstTeamName" />
      </mat-form-field>

      <ol>
        @for (item of teamList().firstTeam; track $index) {
        <li>{{ item }}</li>
        }
      </ol>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput name="secondTeam" [(ngModel)]="secondTeamName" />
      </mat-form-field>

      <ol>
        @for (item of teamList().secondTeam; track $index) {
        <li>{{ item }}</li>
        }
      </ol>
    </div>
  </form>
</article>
