<article>
  <div class="title">
    <h2>Aqui estão seus times</h2>

    <button mat-mini-fab (click)="copyToClipboard()" title="Copiar times">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>

  <form class="teams">
    <div>
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput name="firstTeam" [(ngModel)]="firstTeam.name" />
      </mat-form-field>

      <ol>
        @for (item of firstTeam.list; track $index) {
        <li>{{ item }}</li>
        }
      </ol>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput name="secondTeam" [(ngModel)]="secondTeam.name" />
      </mat-form-field>

      <ol>
        @for (item of secondTeam.list; track $index) {
        <li>{{ item }}</li>
        }
      </ol>
    </div>
  </form>
</article>
